REDIS_URL = ""
REDIS_PASSWORD = ""
OMS_REDIS_URL = "redis_oms:6379"
OMS_REDIS_PASSWORD = ""
OMS_USER = ""
OMS_KEY = ""
CARGUS_SUBSCRIPTION_KEY = ""
CARGUS_USER = ""
CARGUS_PASSWORD = ""
ALD_USERNAME = ""
ALD_PASSWORD = ""
DELIVERY_TIME_CENTRAL = "24" # hours
DELIVERY_TIME_ZONAL = "36" #hours
DELIVERY_TIME_SUPPLIER = "60" #hours
DELIVERY_TIME_DEFAULT = "48" #hours
DELIVERY_TIME_NO_STOCK = "-24" #hours
TIME_ZONE = "Europe/Bucharest"
WAREHOUSE_ID_FOR_SUPPLIERS = "97"
DDWCS_USER = ""
DDWCS_KEY = ""
STORE_LOCATION_RULE_REGIONS = "B"
DELIVERY_TIME_NO_STOCK_INTERVAL = "2-3" #days
DELIVERY_TIME_NO_STOCK_REGION = "Bucuresti"
DELIVERY_TIME_NO_STOCK_CARRIER = "Altex"
DELIVERY_STORE_LOCATION_QTY_LIMIT = 5
ADDITIONAL_DELIVERY_DAYS = 14